<h1>All Ads</h1>
<ul>
<% for ad in @ads %>
  <li><a href="/ads/<%= ad.id %>"><%= ad.name %></a>
  <!--[<a href="/ads/<%= ad.id %>/delete">Delete</a>]-->
  [<%= link_to "Delete", "/ads/#{ad.id}/delete", method: :delete %>]
  </li>
<% end %>
</ul>
